<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <%= taper_meta_tag(@conn, 1) %>
  <title>TodoMvc · Taper</title>
  <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>" />
</head>

<body>
  <main role="main">
    <%= taper_render(@view_module, @view_template, assigns, class: "todoapp") %>
  </main>
  <%= taper_script() %>
</body>

</html>